[Unit]
Description=bi-directionally bridging messages between ROS and MQTT
After=network.target

[Service]
Type=simple
User=bzlrobot
ExecStart=/usr/bin/bash /opt/ros/humble/share/iot_comm/launch/mqtt_client.sh
ExecStop=/usr/bin/killall -INT mqtt_client
KillSignal=SIGINT
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
